node_modules
# backend/xdtechnology_fastapi/
.env*
!.env.example
nginx/logs/

.mkcert
.turbo/
**/.turbo/
coverage/
**/coverage/

# TypeScript incremental build cache
*.tsbuildinfo
**/*.tsbuildinfo
"**/{bin,-bin,.bin}/**
**/*.bin.*
.bin
.vercel
.env*.local
.env*
venv

user_settings.json