node_modules
# backend/xdtechnology_fastapi/
.env*
!.env.example
nginx/logs/

.mkcert
.turbo/
**/.turbo/
coverage/
**/coverage/

# TypeScript incremental build cache
*.tsbuildinfo
**/*.tsbuildinfo
"**/{bin,-bin,.bin}/**
**/*.bin.*
.bin
.vercel
.env*.local
.env*

user_settings.json


# Python / Cache
.ruff_cache/
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/