# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
settings.json
# venv
venv/
.env
.env.*
!.env.example
# VSCode
.vscode/
*.code-workspace

# Poetry / dependency lock
poetry.lock

# Byte-compiled / temp
*.egg-info/
.eggs/
*.log

# Database / local files
*.sqlite3
*.db

# IDE / Editor files
.idea/
*.iml

# Coverage / test
.coverage
htmlcov/
*.pytest_cache/
*.mypy_cache/
.pytest_cache/
.ruff_cache/
